.my__posts{
    position: relative;
    margin-bottom: 20px;
}
.my__posts .add__post{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.my__posts .add__post textarea{
    margin-bottom: 10px;
    width: 80%;
}
.my__posts .add__post button{
    background-color: coral;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform .4s;
}
.my__posts .add__post button:hover{
    transform: scale(1.1);
}